.left-nav-wrapper{
    width: 200px;
    display: flex;
    flex-direction: row;
    background-color: #777bff;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    color: white;
    padding-top: 5%;
    word-break: break-all;
}