.right-section-wrapper{
    flex: 1;
    background-color: #0c1027;
    img{
        height: 30px;
        width: 30px;
        position: relative;
        left: 50px;
        top: 50px;
        cursor: pointer;
        @media (max-width : 575px) {
            left: 20px;
            top: 20px;
        }
    }
    .input-box-wrapper{
        display: flex;
        flex-direction: column;
        padding: 5%;
        @media (max-width : 575px) {
            padding: 10% 10% 10% 10%;
        }
        input{
            width: 100%;
            height: 30px;
            border:none;
            outline: none;
            background-color: #0c1027;
            border-bottom: 1px solid cyan;
            color: white;
        }
        .box-wrapper{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 100%;
            padding-top: 10%;
            justify-content: center;
            .box{
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgb(255, 255, 255);
                height: 100px;
                width: 100px;
                background-color: rgb(26, 0, 73);
                border-radius: 10px;
                margin-right:2%;
                margin-top: 2%;
                border: 2px solid black;
                @media (max-width : 575px) {
                    margin-top: 5%;
                    margin-right:5%;
                }
            }
        }
    }
}